<div class="splash-container">
    <div class="splash">
        <h1 class="splash-head">Alquilalo</h1>
        <br/>
        <p class="splash-subhead">
            Administrá tus propiedades. Fácil. Rápido. En un sólo lugar.
        </p>
        <br/>
        <p>
            <a href="http://purecss.io" 
            class="pure-button pure-button-primary"
            routerLink="/home"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">
            Empezá</a>
        </p>
    </div>
</div>

