/* Flexbox stuff */

@media screen and (min-width: 80em) {
    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .card {
        flex: 0 1 calc(33% - 1em);
    }
}

@media screen and (min-width: 60em) and (max-width: 80em){
    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .card {
        flex: 0 1 calc(50% - 1em);
    }
}

.card{
    margin-top: 1em;    
}


