
  .card-inner{
      height: 100%;
      padding: 15px;
      display: inline-block;
      width: 100%;
      min-width: 250px;
  }

  .card-icon{
      float: left;
      width: 10%;
  }
  .card-text{
    float: right;
    font-size: 18px;
    width: 80%;
    
}

.material-icons.md-48 { font-size: 48px; }