
.card-inner{
    height: 100%;
    padding: 15px;
    display: inline-block;
    width: 100%;
    min-width: 250px;
    cursor: pointer;
}

.card-icon{
      float: left;
      width: 10%;
  }
.card-text{
    float: right;
    font-size: 18px;
    width: 75%;    
}

.material-icons.md-48 { font-size: 48px; }

.card-inner:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }